

# mybatis org/fyh/tk/mapper/demo/mapper
mybatis:
  mapper-locations: org/fyh/tk/mapper/demo/mapper/*.xml # mapper.xml文件所在位置
  #    config-location: classpath:config/mybatis_config.xml
  type-aliases-package: org.fyh.tk.mapper.demo.enter.*         #对应实体类的包名
  configuration:
    map-underscore-to-camel-case: true  #配置驼峰命名转换 在进行sql查询和初始化实体时mybatis会为我们自动转化
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl   #mybatis 控制台打印sql

######### 分页插件 ##########
pagehelper:
  helper-dialect: mysql
  params=count: countSql
  reasonable: false
  support-methods-arguments: true # 持通过 Mapper 接口参数来传递分页参数，默认值false，分页插件会从查询方法的参数值中，自动根据上面 params 配置的字段中取值，查找到合适的值时就会自动分页

######### 通用Mapper ##########
# 主键自增回写方法,默认值MYSQL,详细说明请看文档
mapper:
  identity: MYSQL
  mappers: tk.mybatis.mapper.common.MySqlMapper

#驱动配置信息
spring:
  datasource:
    url: jdbc:mysql://120.27.130.173:4408/yiban_refactor?useUnicode=true&characterEncoding=utf-8&useSSL=false&autoReconnect=true&failOverReadOnly=false&serverTimezone=Asia/Shanghai
    username: root
    password: yiban1314123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.mysql.cj.jdbc.MysqlDataSource

server:
  port: 8123
